[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
 
[packages]
bcrypt = ">=4.3.0"
fastapi = {extras = ["standard"], version = ">=0.115.13"}
passlib = {extras = ["bcrypt"], version = ">=1.7.4"}
pyjwt = ">=2.10.1"
pymongo = ">=4.13.2"
uvicorn = {extras = ["standard"], version = ">=0.34.3"}
 
[requires]
python_version = "3.12"